pipeline/011Filter.json
{
	"name": "011Filter",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TestArray')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFilteredArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TestArray",
					"value": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TestArray": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			}
		},
		"folder": {
			"name": "ADF Activities"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-27T20:06:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}