pipeline/021MergeMultiFilesIntoOne.json
{
	"name": "021MergeMultiFilesIntoOne",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "CREATE or TRUNCATE Table CountryData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SeparatedCountryData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Country",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ForEachCountryVariable",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "DS_Country",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Country",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Country",
											"value": {
												"value": "@replace(variables('ForEachCountryVariable'),'.csv','')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "MergeDataAcrossFiles",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Country",
									"type": "DatasetReference",
									"parameters": {
										"ParamCountry": {
											"value": "@variables('ForEachCountryVariable')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CountriesSQLDB",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "CREATE or TRUNCATE Table CountryData",
				"description": "",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF OBJECT_ID('dbo.CountryData', 'U') IS NOT NULL\nBEGIN\n    TRUNCATE TABLE dbo.CountryData;\nEND\nELSE\nBEGIN\n    CREATE TABLE \ndbo.CountryData (\n        OrderDate datetime,\n        ProductKey int,\n        EnglishProductName varchar(250),\n        SalesAmount money,\n        Country varchar(30)\n    );\nEND"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"ForEachCountryVariable": {
				"type": "String"
			},
			"Country": {
				"type": "String"
			},
			"Region": {
				"type": "String"
			},
			"Country2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Activities"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-27T20:06:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}