pipeline/022AOneFileIntoMultiFiles.json
{
	"name": "022AOneFileIntoMultiFiles",
	"properties": {
		"activities": [
			{
				"name": "Get Regions",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CountriesFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopInRegions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Regions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Regions').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Region",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Region",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Region",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "022BCHILDpipelineCOUNTRY",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamRegion": {
										"value": "@variables('Region')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Truncate Table",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE INVOICEDATA"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"Region": {
				"type": "String"
			},
			"Country": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Activities"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-27T20:06:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}